generator:
  class: sfDoctrineGenerator
  param:
    model_class:           Folder
    theme:                 popup
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          folder
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      fields:
        created_at:        { label: "Date Created" }
        updated_at:        { label: "Date Modified" }
        
      form:
        display:           [ parent_id, name ]
        
      actions: ~
      filter: ~
      list:
        title:             Folders
        display:           [ name, type, created_at, updated_at ]
        sort:              [ name, type, asc ]
        batch_actions:     [ ]
        max_per_page:			 10
        actions:
          _new: ~
      edit:
        actions:
          _delete:         []
          cancel:          []
          done:            []
          _save:           []
      new:
        actions:
          cancel:          []
          _save:           []