generator:
  class: sfDoctrineGenerator
  param:
    model_class:           Building
    theme:                 popup
    non_verbose_templates: true
    with_show:             false
    singular:              ~
    plural:                ~
    route_prefix:          building
    with_doctrine_route:   true
    actions_base_class:    sfActions

    config:
      actions: ~
      fields: ~
      filter:
        class:             false
      list:
        title:             Buildings
        display:           [ name, abbreviation ]
        sort:              [ name, asc ]
        batch_actions:     []
        max_per_page:      10 
        actions:
          _new:            ~
      form:
        display:           [ name, abbreviation ]
      edit:
        title:             Edit Building
        actions:
          cancel:          []
          done:            []
          _save:           []
      new:
        title:             New Building
        actions:
          cancel:          []
          _save:           []