#calendar_event_description {
    width: 325px !important;
}

#calendars ul.checkbox_list li {
    line-height: 1.5em;
    list-style: none outside none;
    padding-bottom: 2px;
    padding-left: 5px;
}

.selected_calendar{
    background: url("/images/all-icons.png") no-repeat scroll -95px -50px transparent !important;
    height: 10px;
    margin-left: 2px;
    margin-top: 2px;
    width: 10px;
}

.calendar_name{
    float: left; width:14px; height:14px; margin:3px;
}

.calendar_label{
    cursor: hand;
    cursor: pointer;
}

.sf_admin_form_field_name, .sf_admin_form_field_calendar_id,
.sf_admin_form_field_from_date, .sf_admin_form_field_to_date,
.sf_admin_form_field_location, .sf_admin_form_field_is_personal,
.sf_admin_form_field_is_personal, .sf_admin_form_field_notify_changes{
    display: inline-block;
    width: 337px;
}

.sf_admin_form_field_description{
    clear: both;
}

#calendar_event_description{
    width: 685px !important;
}

#calendar_description{
    width: 325px !important;
}

.event-row{
    padding: 5px 10px;
    position: relative;
    display: block;
    border-bottom: 1px solid #F5F5F5;
}