.dashboard_feeds{
    font-size: 12px;
    border-bottom: 1px dashed #DDDDDD;
}

#dashboard_c_content {
    float: left;
    margin-right: 20px;
    width: 680px;
}

#dashboard_r_content {
    float: left;
    width: 320px;
}

.dashboard_feeds .user_image{
    float: left;
    padding: 10px 10px 0 0;
}

.dashboard_feeds .user_image img{
    border: none;
}

.dashboard_feeds h4{
    color: #8A8A8A;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
}

.dashboard_feeds a{
    color: #0088CC;
    font-size: 12px;
}

.dashboard_feeds a:hover{
    text-decoration: underline !important;
}

.news_item{
    padding: 5px 0;
    border-bottom: 1px dashed #DDDDDD;
    font-size: 12px;
}

.datetime{
    font-size: 12px;
}

.user_meta{
    color: #999999;
    padding: 10px 0;
}

a.user_name{
    color: #0088CC !important;
    padding: 0;
}

#dashboard_messages{
    border-bottom: 1px solid #DDDDDD;
    font-size: 12px;
    margin: 10px 0;
    padding: 5px 0;
}

#dashboard_messages div.message{
    display: table;
}

#dashboard_messages .user_image{
    float: left;
    padding-right: 10px;
}

#dashboard_messages .datetime{
    float: right;
    padding-right: 10px;
    color: #888888 !important;
}

#dashboard_messages .user_meta{
    color: #0088CC !important;
    padding-bottom: 5px;
}

.user_meta a {
    color: #0088CC;
    font-size: 12px;
}

.assignment_meta{
    color: #666666;
    padding: 5px 0;
}

.assignment_meta a{
    color: #0088CC;
    font-size: 12px;
}

.assignment_meta a:hover{
    text-decoration: underline !important;
}

#course_extra .datetime{
    font-size: 12px;
}

#nav-vertical-bottom {
    float: left;
    left: 10px;
    min-height: 50px;
    width: 200px;
}

#calendar_heading {

}

#calendar_heading h2{
    background: url("../images/icons/calendar_edit.png") no-repeat scroll 5px 6px #B9B9B9;
    color: #FFFFFF;
    font-size: 12px;
    padding: 5px 24px;
}

#calendars{
    background-color: #FFFFFF;
    color: #888888;
    font-size: 12px;
    padding-bottom: 5px;	
}

#calendar_heading h2 a{
    color: #FFFFFF;
    float: right;
}

.event{
    border-bottom: 1px dashed #DDDDDD;
    font-size: 12px;
    padding: 5px 0;
}