.dashboard-block{
    display: block;
    width: 460px;
    float: left;
}

.dashboard-row{
    height: 150px;
    background-color: #FFF;
    position: relative;
    padding: 5px 10px;
    overflow: hidden;
}

#dashboard_container .left{
    margin-right: 20px;
}

.my-peer {
    height: 38px !important;
    width: 41px !important;
    display: inline-block;
    float: none;
}

#notifications, #my_courses, #my_discussions, #news_items, #announcements{
    padding: 0 0 12px 0 !important;
    border: 1px solid #DDD;
}

#my_peers{
    border: 1px solid #DDD;    
}

#my_messages{
    text-align: center;
    background-position: center 32px;
    background-image: url("/images/icon_emails.png");
    background-repeat: no-repeat;
    height: 100px !important;
    width: 438px;
    border: 1px solid #DDD;
}

#events{
    text-align: center;
    background-position: center 32px;
    background-image: url("/images/icon_events.png");
    background-repeat: no-repeat;
    height: 100px !important;
    width: 438px;
    border: 1px solid #DDD;
}

.view-more{
    height: 40px;
    width: 80px;
    position: absolute;
    top: 5px;
    right: 10px;
}