#sf_admin_container ul.radio_list li{
    display: block !important;
    margin-left: 140px;
    list-style: none outside none;
    position: relative;
}

#sf_admin_container ul.radio_list li input[type=radio]{
    position: absolute;
    left: 0;
    top: 4px;
}

#cboxLoadedContentInner ul.radio_list li input[type=radio]{
    position: absolute;
    left: 140px;
    top: 2px;
}

#sf_admin_container ul.radio_list li label{
    width: 665px !important;
    margin-left: 22px;
    position: absolute;
    left: 10px;
    top: 0;
}

#cboxLoadedContentInner ul.radio_list li{
    display: block !important;
    line-height: 1.5em;
    list-style: none outside none;
    position: relative;
}

#cboxLoadedContentInner ul.radio_list li input[type=radio]{
    position: absolute;
    left: 0px;
    top: 2px;
}

#cboxLoadedContentInner ul.radio_list li label{
    width: 480px !important;
    margin-left: 25px;
    position: absolute;
    left: 20px;
    top: 0;
}

#sf_admin_content .sf_admin_list table{
    width: 100% !important;
    display: table !important;
}

textarea{
    max-height: 1000px;
    height: 16px;
    resize: none;
}

span.separator{
    color: #0088CC;
    font-size: 14px;
}

.discussion_group_message{
    display: table;
    padding-top: 10px;
    width: 100%;
}

#group_members li{
    display: block;
    float: left;
    line-height: 18px;
    margin-bottom: 10px;
    width: 200px;
}

.discussion_topic_actions a,
.discussion_topics a{
    color: #0088CC;
    cursor: pointer;
    cursor: hand;
    font-size: 12px !important;    
}

#group_members .access_level{
    float: left;
}

#group_members h4{
    padding: 0 10px 0 0;
}

#discussion_topic, #discussion_topic_replies{
    max-height: 450px;
    overflow-y: auto;
}

.discussion_topic_reply ul.sf_admin_actions{
    height: 30px;
    margin: 15px 0 0 !important;
}

.discussion_topic_reply .sf_admin_form_row{
    clear: both;
    font-size: 12px;
    margin-top: 1em;
    padding: 0 !important;
}

.user-meta{
    color: #666666;
    padding: 5px 0;
}

#discussion_topic_message_message{
    width: 720px;
    display: none;
}

#discussion_peers_message{
    width: 407px;
    height: 100px;
}

#discussion_topic_subject,
#discussion_peer_nickname,
#discussion_group_name{
    width: 687px !important;
}

#discussion_topic_message_form_holder label, 
.comment-details label{
    display: none !important;
}

.comment-details .value{
    margin: 0 10px 0 45px;
}

#discussion_topic_message{
    width: 520px !important;
    max-height: 400px;
    height: 150px;
}

#discussion_group_description{
    width: 687px !important;
    max-height: 100px;
    height: 100px;
}

#discussion_topic_form_holder .redactor_editor{
    max-height: 150px;
    height: 150px;
}

.sf_admin_form_field_nickname{
    margin-top: 10px;
}

.message .meta{
    padding-left: 10px;
}

.message .body{
    clear: both !important;
    padding-left: 10px;
    width: 755px;
}

.message .comment-details textarea{
    width: 710px;
    margin-left: 10px;
    margin-bottom: 10px;
    outline-width: 0;
}

.topic-reply{
    border-top: 1px dashed white;
    padding: 10px 0 5px;    
}

.topic-comment-details{
    padding-left: 10px;
    width: 718px;
}

.message .stats{
    padding: 10px 0;
}

.message .replies{
    padding-left: 10px;
}

.discussion_topic_actions{
    text-align: right;
    margin: 10px 0;
}

#discussion_topic_message_form_holder .discussion_topic_actions{
    margin-right: 0px !important;
}

.comments .discussion_topic_actions{
    margin-top: 10px;
}

#discussion_topics_footer{
    height: 25px;
}

#discussion_topic_message_form_holder fieldset{
    background-color: transparent !important;    
}

.topic-message-details{
    width: 769px;
}

#discussion_peer_invite_form{
    margin-bottom: 10px;   
}

#discussion_topic_message_form_container .notice{
    margin-top: 10px;
}

.thread{
    position: relative;
}

#discussion-topic-replies .comments{
    background-color: #F9F9F9;
    border: 1px solid #F5F5F5;
    border-bottom: none !important;
}

.comment .body{
    padding-right: 5px;
}

.comment{
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #F5F5F5;
    background-color: #FFFFFF;
}

.comment .reply{
    padding-right: 5px;
}

#discussion_comment{
    width: 516px;
    display: none;
}

.replies-count{
    color: #9D774B;
}

.discussion-group-left-block{
    width: 471px;
    float: left;
    margin-top: 5px;
}

.discussion-group-right-block{
    width: 230px;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

#suggested-followers{
    border: 1px solid #F5F5F5;
    background-color: #FFFFFF;
}

#discussion-group-followers{
    border: 1px solid #F5F5F5;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 3px;
}

#discussion_group_container .left {
    margin-right: 20px;
}

.discussion-group-block{
    display: block;
    width: 460px;
    float: left;
}

.sf_admin_heading .discussion-group-actions{
    position: absolute;
    right: 0;
    top: 15px;
}

.sf_admin_list_th_name{
    width: 400px;
}

.discussion-group-actions{
    position: absolute;
    right: 10px;
    top: 33px;
    background-color: #FFF;
    padding: 5px;
    width: 60px;
    border: 1px solid #F5F5F5;
    padding-top: 0px;
    display: none;
}

.discussion-group-view{
    position: absolute;
    right: 10px;
    top: 4px;
}

.follower{
    height: 47px;
    word-break: break-all;
    clear: both;
    padding: 10px;
}

#discussion-group-notice{
    display: none;
}

.discussion-group-row{
    padding: 5px 10px;
    position: relative;
    display: block;
}

.message-edit{
    padding: 0px;
}

.message-edit textarea{
    width: 516px !important;
}

.edit-mode{
    display: none;
}

.sf_admin_form_field_message{
    margin-bottom: 10px;
}

.discussion-group-post .body, #discussion-topic .body,
#discussion_tops .body, #discussion .body{
    margin: 0 0 0 43px !important;
}

.comment-toggler{
    color: #b5a072;
    cursor: pointer;
}

#discussion_post_form_holder{
    padding: 10px;
    background-color: #F5F5F5;
    margin-bottom: 10px;
}

#discussion_post_form_holder .post_input_holder {
    margin: 0 0 0 45px;
    background-color: #FFF;
    padding: 10px 10px 5px 10px;
}

.discussion_post_placeholder{
    width: 623px;
    color: #777;
}

.discussion_comment_placeholder{
    width: 553px;
    color: #777;
}

#discussion_peer_invite_form fieldset{
    overflow: auto;
    display: block;
    position: relative;
    margin: 0 10px 0;
    max-height: 346px;
}

#discussion_peer_invite_form_holder input[type="checkbox"]{
    position: absolute;
    left: 10px;
    top: 20px;
}

#discussion_peer_invite_form_holder .description{
    position: absolute;;
    left: 35px;
    top: 10px;
	width: 303px;
}