#sf_admin_container ul.radio_list li{
    display: block !important;
    line-height: 1.5em;
    list-style: none outside none;
    position: relative;
}

#sf_admin_container ul.radio_list li input[type=radio]{
    position: absolute;
    left: 0;
    top: 4px;
}

#cboxLoadedContentInner ul.radio_list li input[type=radio]{
    position: absolute;
    left: 140px;
    top: 2px;
}

#sf_admin_container ul.radio_list li label{
    width: 665px !important;
    margin-left: 22px;
    position: absolute;
    left: 10px;
    top: 0;
}

#cboxLoadedContentInner ul.radio_list li{
    display: block !important;
    line-height: 1.5em;
    list-style: none outside none;
    position: relative;
}

.sf_admin_form_field_access_level label{
    float: none !important;
}

#cboxLoadedContentInner ul.radio_list li input[type=radio]{
    position: absolute;
    left: 0px;
    top: 2px;
}

#cboxLoadedContentInner ul.radio_list li label{
    width: 480px !important;
    margin-left: 25px;
    position: absolute;
    left: 20px;
    top: 0;
}

#sf_admin_content .sf_admin_list table{
    width: 100% !important;
    display: table !important;
}

textarea{
    max-height: 1000px;
    height: 16px;
    resize: none;
}

span.separator{
    color: #0088CC;
    font-size: 14px;
}

.discussion_message{
    display: table;
    padding-top: 10px;
    width: 100%;
}

#discussion_stats a{
    cursor: pointer;
    cursor: hand;
    font-size: 12px !important;
}

#dashboard_feeds .user_image{
    float: left;
    padding: 10px 10px 0 0;
}

.content li{
    line-height: 18px;
}

#group_members li{
    display: block;
    float: left;
    line-height: 18px;
    margin-bottom: 10px;
    width: 200px;
}

.discussion_topic_actions a, .discussion_topics a{
    color: #0088CC;
    cursor: pointer;
    cursor: hand;
    font-size: 12px !important;    
}

.user-image{
    float: left;
    padding: 0 10px 0 0;
}

#group_members .access_level{
    float: left;
}

#group_members h4{
    padding: 0 10px 0 0;
}

#discussion_topic, #discussion_topic_replies{
    max-height: 450px;
    overflow-y: auto;
}

.discussion_reply span.owner, #discussion_topic span.owner{
    color: #3F7CB6;
    font-size: 12px;
    font-weight: bold;
}

#discussion_form_holder .sf_admin_form_row label,
#course_discussion_form_holder .sf_admin_form_row label{
    float: none !important;
}

.discussion_topic_reply ul.sf_admin_actions{
    height: 30px;
    margin: 15px 0 0 !important;
}

.discussion_topic_reply .sf_admin_form_row{
    clear: both;
    font-size: 12px;
    margin-top: 1em;
    padding: 0 !important;
}

.discussion_topic_reply{
    padding: 0 0 0 10px;
    background-color: #EEEEEE;
}

.user-meta{
    color: #666666;
    padding: 5px 0;
}

#discussion_topic_message_message{
    width: 909px;
}

#discussion_members_message{
    width: 645px;
    height: 100px;
}

#discussion_name{
    width: 909px !important;
}

#discussion_topic_subject{
    width: 524px !important;
}

#discussion_topic_form_holder .sf_admin_form_field_message{
    width: 535px !important;
}

#discussion_topic_message_form_holder label, .reply-details label{
    float: none !important;
}

.reply-details .value{
    margin: 0 10px 0 45px;
}

#discussion_topic_message{
    width: 520px !important;
    max-height: 400px;
    height: 150px;
}

#discussion_description{
    width: 909px !important;
    max-height: 400px;
    height: 400px;
}

#discussion_topic_form_holder .redactor_editor{
    max-height: 150px;
    height: 150px;
}

.discussion-member{
    margin: 10px 0 0;
    display: inline-block;
    clear: both !important;
    width: 265px;
}

.member-meta{
    float: left;
    width: 180px;
    padding-left: 10px;
}

.member-image{
    float: left;
    margin-left: 10px;
}

.discussion-potential-member{
    margin: 10px 0 0;
    display: inline-block;
    clear: both !important;
    width: 280px;
}

.discussion-potential-member .image{
    float: left;
}

.discussion-potential-member .name{
    float: left;
    width: 180px;
    padding-left: 10px;
}

.discussion-potential-member .input{
    float: left;
}

#discussion_members{
    display: block;
}

.discussion-member-field{
    position: relative;
    margin-top: 20px;
}

.choose-members{
    position: absolute;
    left: 110px;
    top: 0;
}

.sf_admin_form_field_nickname{
    margin-top: 10px;
}

.message .meta{
    padding-left: 10px;
}

.message .body{
    clear: both !important;
    padding-left: 10px;
    width: 755px;
}

.message .reply-details textarea{
    width: 710px;
    margin-left: 10px;
    margin-bottom: 10px;
    outline-width: 0;
}

.topic-reply{
    border-top: 1px dashed white;
    padding: 10px 0 5px;    
}

.topic-reply-details{
    padding-left: 10px;
    width: 718px;
}

.message .stats{
    padding: 10px 0;
}

.message .replies{
    padding-left: 10px;
}

.message .stats-item{
    display: inline-block;
    padding: 0 10px;
    color: #3F7CB6;
    height: 20px;
    background-image: url('/images/correspondent-icons.png');
    background-position: 0 -178px;
    background-repeat: no-repeat;
    padding-left: 21px;
}

.discussion_topic_actions{
    text-align: right;
    margin-right: 0px;
    padding-bottom: 10px;
}

#discussion_topic_message_form_holder .discussion_topic_actions{
    margin-top: -10px !important;
    margin-right: 10px !important;
}

.comments .discussion_topic_actions{
    margin-top: 10px;
}

#discussion_topics_footer{
    height: 25px;
}

#discussion_topic_message_form_holder{
    width: 690px;
    background-color: #F9F9F9;
}

#discussion_topic_message_form_holder fieldset{
    background-color: transparent !important;    
}

.topic-message-details{
    width: 769px;
}

#discussion_member_invite_form{
    overflow: auto;
    height: 300px;
    margin-bottom: 10px;   
}

#discussion_topic_message_form_container .notice{
    margin-top: 10px;
}

.thread{
    position: relative;
    padding: 10px 0 10px 10px;
}

.message{
    border: 1px solid #FFFFFF;
    margin-left: 65px;
    padding: 5px;
    min-height: 41px;
}

.thread .icon{
    height: 21px;
    position: absolute;
    width: 10px;
    background: url("/images/icons/discussion.png") no-repeat scroll -96px -22px transparent;
    display: block;
    left: 66px;
    top: 15px;
}

.comments{
    margin: -1px 0 0 65px;
    clear: both;
    background-color: #F9F9F9;
    border: 1px solid #FFFFFF;
    border-bottom: none !important;
}

.comment{
    padding: 10px 0 5px 10px;
    border-bottom: 1px solid #FFFFFF;
}

#discussion_topic_reply_reply{
    width: 568px;
}

.replies-count{
    color: #C37E4C;
}

.discussion-left-block{
    width: 690px;
    float: left;
}

.discussion-right-block{
    width: 230px;
    float: left;
    margin-left: 20px;
}

#discussion-participants{
    padding: 5px 10px;
}

.participant{
    height: 42px !important;
    width: 36px !important;
    float: left;
    padding-right: 6px;
}

#discussion_container .left {
    margin-right: 20px;
}

.discussion-block{
    display: block;
    width: 460px;
    float: left;
}