*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 12px;
        text-shadow: none;
}

html{
    overflow-y: scroll;
    height: 100%;
}

body{
    background: url("/images/bg_content.jpg") repeat;
    font-family: Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    line-height: 1.7em;
    margin: 0;
    padding: 0
}

ol, ul{
    list-style: none outside none;
}

li {
}

fieldset, img{
    border-color: transparent;
    border-width: 0;
}

a{
    color: #134D58;
}

a:hover{
    text-decoration: underline !important;
}