*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 12px;
    text-shadow: none;
    line-height: 20px;
    font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Segoe, 'Segoe UI', 'Segoe WP', Calibri, Arial, clean, sans-serif;;
}

html{
    overflow-y: scroll;
    height: 100%;
}

div, li {
    line-height: 22px !important;
    position: relative;
}

.error li, .error b{
    font-size: 11px;
}

textarea{
    line-height: 23px !important;
}

body{
    background-color: #F9F9F9;
    font-size: 12px;
    height: 100%;
    width: 100%;
    line-height: 20px;
    margin: 0;
    padding: 0
}

ol, ul{
    list-style: none outside none;
}

fieldset, img{
    border-color: transparent;
    border-width: 0;
}

a{
    color: #C37E4C;
}

a:hover{
    text-decoration: underline !important;
}

p{
    margin-bottom: 22px;
}

td p{
    margin-bottom: 0px !important;
}