*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 12px;
        text-shadow: none;
}

html{
    overflow-y: scroll;
    height: 100%;
}

body{
    background: url("/images/bg_content.jpg") repeat;
    font-family: 'Gotham SSm 4r', 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Segoe, 'Segoe UI', 'Segoe WP', Calibri, Arial, clean, sans-serif;;
    font-size: 12px;
    height: 100%;
    width: 100%;
    line-height: 1.7em;
    margin: 0;
    padding: 0
}

ol, ul{
    list-style: none outside none;
}

fieldset, img{
    border-color: transparent;
    border-width: 0;
}

a{
    color: #134D58;
}

a:hover{
    text-decoration: underline !important;
}

label{
    font-weight: bold;
}