input[type="text"], input[type="password"] {
    /*    width: 600px !important;*/
}

#email_message_body {
    height: 300px !important;
}

#sf_admin_container label{
    width: 70px !important;
}

#sf_admin_container textarea, input[type=text]{
    width: 100%;
    height: 19px;
    resize: none;
}

#top-actions{
    display: table;
    padding-top: 0;
    width: 100%;
    margin-bottom: 7px;
}

#bottom-actions{
    display: table;
    padding-top: 0;
    width: 100%;
    margin-top: 10px;
}

#email_message_body_parent, #email_message_body_tbl {
    width: 845px;
}

.sf_admin_form {
    margin-top: 10px;
}

#cc_controller{
    display: none;
}

#top_actions {
    height: 29px;
    padding-top: 5px;
}

#tab_content{
    margin-top: 0px;    
}

.sf_admin_form_field_email_body_email{
    border: 1px solid #C0C0C0;
    line-height: 20px;
    margin: 10px 10px 0 0;
    padding: 10px; 
}

.sf_admin_list_td_from_emails, .sf_admin_list_td_to_email, .sf_admin_list_td_subject, .sf_admin_list_td_created_at{
    cursor: hand;
    cursor: pointer;
}

.message_stream{
    font-size: 12px;
    position: relative;
}

.message_table{
    width: 100%;
    display: table;
}

.message_row input[type=text]{
    width: 100% !important;
}

.message_row td{
    padding: 0 20px 5px 10px;
}

.message_row td.first{
    padding-left: 10px;
    width: 150px;
}

#add_cc, #add_bcc{
    font-size: 11px;
}

.message-time{
    color: #999999;
    padding-top: 10px;
    position: absolute;
    right: 10px;
    top: -5px;
}

.from{
    padding: 0px 0 5px;
}
.subject{
    padding: 0px 0 5px;
    cursor: hand;
    cursor: pointer;
}

.body{
    padding: 0 10px 10px;
}

.message_actions {
    text-align: right;
}

span.separator {
    color: #0088CC;
    font-size: 14px;
}

.message_reply{
    background-color: #FFFFFF;
}

.message_reply ul.sf_admin_actions{
    margin: 10px 15px 10px 10px !important;
}

.message_reply textarea{
    width: 100% !important;
    height: 300px !important;
    min-width: 600px;
}

.read{
    font-weight: bold;
}

.message_stream .from, .message_stream .message_actions, .message_stream .body{
    display: none;
}

.current .from, .current .message_actions, .current .body{
    display: block;
}

.message_actions{
    margin-right: 10px;
}

.email_from{
    color: #666666;
    font-weight: normal !important;
}

.message-recipient{
    margin: 10px 0 0;
    display: inline-block;
    clear: both !important;
    width: 280px
}

.message-recipient-image{
    float: left;
}

.message-recipient-name{
    float: left;
    width: 180px;
    padding-left: 10px;
}

.recipient-field{
    position: relative;
    clear: both;
    min-height: 15px;
}

.message-recipient-input{
    float: left;
}

#to_email_recipients, #cc_email_recipients, #bcc_email_recipients{
    width: 624px;
    padding: 5px;
    border: 1px solid white;
    max-height: 60px;
    overflow: auto;
    position: absolute;
    left: 65px;
    top: -3px;
}

.choose-recipient{
    position: absolute;
    right: 3px;
    top: 31px;
}
#email_message_subject, #email_message_body{    
    width: 687px !important;
}

.sf_admin_form fieldset{
    padding: 0 !important;
    background-color: transparent !important;
    border-radius: 0 !important;
}

.reply{
    margin-left: 65px;
}

.reply textarea{
    width: 624px !important;
}

.sf_admin_actions, .error{
    margin: 0 12px !important;
}

#email_container{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #DDD;
    background-color: #FFF;
}

.sf_admin_list{
    padding: 0 10px !important;
}

.notice{
    margin: 0 10px 10px;
}

#bcc_email{
    position: absolute;
    right: 2px;
    top: -4px;
}

#cc_email{
    position: absolute;
    right: 57px;
    top: -4px;
}

#to_email{
    position: absolute;
    right: 107px;
    top: -4px;
}

.email-recipient{
    display: inline-block;
    clear: both !important;
    width: 480px;
    border-bottom: 1px solid #DDD;
    padding: 5px 0;
}

.recipients-tab{
    border-top: 1px solid #DDD;
    padding-left: 10px;
    padding-top: 10px;
}

.email-recipient .input {
    float: left;
    margin-top: 5px;
}

.email-recipient .name {
    float: left;
    width: 180px;
    padding-left: 10px;
}

#email_container table{
    width: 700px !important;
}