#tp_admin_container {
	background-image: url(/images/error_bg.png);
	background-color: rgb(255, 255, 255);
	background-repeat: no-repeat no-repeat;
	height: 500px;
	padding-top: 35px;
	margin-top: 20px;
}

#public-menu {
	display: none;
}

#tp_admin_container {
	margin-top: 20px !important
}

h3 {
	font-size: 20px !important;
}

#error-page-actions {
	position: absolute;
	right: 0;
	top: 270px;
}

#next-action{
	color: #b5a072;
	position: absolute;
	right: 103px;
	top: 234px;
	font-size: 15px !important;
}