.row{
    clear: both;
    color: #666666;
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}

textarea{
    padding: 5px;
    border: 1px solid #C0C0C0;    
    font-size: 12px;
    resize: none !important;
}

input[type=button], input[type=submit] {
    moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px 10px;
    cursor: hand;
    cursor: pointer;
}

.cancel, .done, .fc-header .fc-button, #calnext, #calprev{
    background-color: #AB6634;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F8F8), color-stop(100%, #F1F2F3));
    background-image: -webkit-linear-gradient(#F7F8F8,#F1F2F3);
    background-image: -moz-linear-gradient(#F7F8F8,#F1F2F3);
    background-image: -o-linear-gradient(#F7F8F8,#F1F2F3);
    background-image: -ms-linear-gradient(#F7F8F8,#F1F2F3);
    background-image: linear-gradient(#F7F8F8,#F1F2F3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F7F8F8',EndColorStr='#F1F2F3');
    border: 1px solid #CCCDCE;
    color: #666666 !important;
    font-size: 13px;
}

.cancel:hover, .done:hover{
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(100%, #e8eaec));
    background:-webkit-linear-gradient(#f6f7f8,#e8eaec);
    background:-moz-linear-gradient(#f6f7f8,#e8eaec);
    background:-o-linear-gradient(#f6f7f8,#e8eaec);
    background:-ms-linear-gradient(#f6f7f8,#e8eaec);
    background:linear-gradient(#f6f7f8,#e8eaec)
}

.sf_admin_form_action_delete input[type=button], .delete{
    background-color: #D14836;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#D14836));
    background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
    background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
    background-image: -ms-linear-gradient(top,#DD4B39,#D14836);
    background-image: -o-linear-gradient(top,#DD4B39,#D14836);
    background-image: linear-gradient(top,#DD4B39,#D14836);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DD4B39',EndColorStr='#D14836');
    border: 1px solid #D14836;
    color: white !important;
}

.sf_admin_form_action_delete input[type=button]:hover, .delete:hover{
    background-color: #DD4B39;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#D14836),to(#DD4B39));
    background-image: -webkit-linear-gradient(top,#D14836,#DD4B39);
    background-image: -moz-linear-gradient(top,#D14836,#DD4B39);
    background-image: -ms-linear-gradient(top,#D14836,#DD4B39);
    background-image: -o-linear-gradient(top,#D14836,#DD4B39);
    background-image: linear-gradient(top,#D14836,#DD4B39);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D14836',EndColorStr='#DD4B39');
}

input[type="text"], input[type="password"]{
    font-size: 13px;
    line-height: 1;
    padding: 5px;
    min-width: 325px;
    border: 1px solid #DFDFDF;
    background: white;
    outline: 0;
}

input[type="password"]:focus, input[type="text"]:focus, textarea:focus{
    border: 1px solid #AB6634;
    outline: medium none;
}

.errors input, .errors textarea{
    border: 1px solid #CD0A0A !important;
    outline: medium none;
}

.enroll{
    background-color: #176E9B;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#176E9B),to(#08C));
    background-image: -webkit-linear-gradient(top,#176E9B,#08C);
    background-image: -moz-linear-gradient(top,#176E9B,#08C);
    background-image: -ms-linear-gradient(top,#176E9B,#08C);
    background-image: -o-linear-gradient(top,#176E9B,#08C);
    background-image: linear-gradient(top,#176E9B,#08C);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#176E9B',EndColorStr='#08C');
    border: 1px solid #08C;
    color: #FFF !important;
}

.enroll:hover{
    background-color: #08C;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#08C),to(#176E9B));
    background-image: -webkit-linear-gradient(top,#08C,#176E9B);
    background-image: -moz-linear-gradient(top,#08C,#176E9B);
    background-image: -ms-linear-gradient(top,#08C,#176E9B);
    background-image: -o-linear-gradient(top,#08C,#176E9B);
    background-image: linear-gradient(top,#08C,#176E9B);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#08C',EndColorStr='#176E9B');
}

.save, .new, .button, .landing-button{
    background-color: #AB6634;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#C37E4C),to(#AB6634));
    background-image: -webkit-linear-gradient(top,#C37E4C,#AB6634);
    background-image: -moz-linear-gradient(top,#C37E4C,#AB6634);
    background-image: -ms-linear-gradient(top,#C37E4C,#AB6634);
    background-image: -o-linear-gradient(top,#C37E4C,#AB6634);
    background-image: linear-gradient(top,#C37E4C,#AB6634);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#C37E4C',EndColorStr='#AB6634');
    border: 1px solid #C37E4C;
    color: #FFF !important;
}

.button-edit, .button-remove{
    height: 20px !important;
    cursor: pointer;
    border: none !important;
    font-size: 10px !important;
    color: #FFF !important;
    padding: 0px 3px !important;
    text-align: center;
}

input.button-edit, input.button-remove{
    line-height: 15px !important;
}

a.button-edit, a.button-remove{
    display: inline-block;
    margin-top: 5px;
}

.button-edit{
    background: #39F;
}

.button-remove{
    background: #C00;
}
.save, .new, .button, .cancel{
    height: 29px;
}

.save:hover, .new:hover, .button:hover, .landing-button{
    background-color: #C37E4C;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#AB6634),to(#C37E4C	));
    background-image: -webkit-linear-gradient(top,#AB6634,#C37E4C);
    background-image: -moz-linear-gradient(top,#AB6634,#C37E4C);
    background-image: -ms-linear-gradient(top,#AB6634,#C37E4C);
    background-image: -o-linear-gradient(top,#AB6634,#C37E4C);
    background-image: linear-gradient(top,#AB6634,#C37E4C);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#AB6634',EndColorStr='#C37E4C');
}

select{
    width: 338px;
    height: 27px;
}

select[size], select[multiple], select[size][multiple] {
    -moz-appearance: listbox;
    appearance: listbox;
    width: 240px;
    height: 150px !important;
}

select > option{
    padding: 3px;
}

.row label{
    font-size: 13px;
}

#login-container{
    top: -4px;
    right: 0;
    position: absolute;
}

#login-container-inner{
    position: relative;
}

#login-box, #admin-box {
    background: #F5F5F5;
    position: absolute;
    top: 41px;
    right: 0;
    display: none;
    z-index: 999999;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px 15px 15px 20px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#login-form, .my-account-menu {
    width:266px; 
    border-radius:2px;
    padding:0.75em;	
}

#login-in-btn{
    width: 315px
}

#login-box::after, #admin-box::after {
    position: absolute;
    top: -10px;
    left: 310px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F5F5F5;
    border-left: 10px solid transparent;
    content: '';
}

#login-options{
    text-align: center;
    padding-top: 5px;
}

#other_container_inner{
    min-height: 308px;
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;    
}

#other_container_inner h1{
    font-size: 20px;
    line-height: 1em;
    margin: 0 0 25px;
}

#other-wrapper {
    margin: 0 auto;
    width: 920px;
}

.other-label{
    width: 160px;
    display: block;
    line-height: 19px;
    font-size: 13px;
    padding: 6px 0;
}

fieldset textarea{
    width: 687px;
    height: 60px;
}

#cboxLoadedContentInner textarea{
    min-width: 325px;
}

#cboxLoadedContentInner input[type="text"], #cboxLoadedContentInner input[type="password"], #authenticate input[type="text"], #authenticate input[type="password"]{
    min-width: 325px !important;
    width: 325px;
}

.date-field{
    width: 104px !important;
}

button.button{
    width: 52px;
    height: 32px;
    position: relative;
    margin-left: 9px;
}

button a{
    background-color: white;
    margin-left: 2px;
    display: inline-block;
    width: 4px;
}

.anchor-1{
    height: 7px;
    position: absolute;
    left: 15px;
    top: 12px;
}

.anchor-2{
    height: 13px;
    position: absolute;
    left: 23px;
    top: 9px;
}

.anchor-3{
    height: 19px;
    position: absolute;
    left: 31px;
    top: 5px;
}