.row{
    clear: both;
    color: #666666;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 10px;
    position: relative;
}

textarea{
    padding: 5px;
    border: 1px solid #C0C0C0;    
    font-size: 12px;
    resize: none !important;
}

input[type=button], input[type=submit] {
    moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    outline: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: hand;
    cursor: pointer;
}

.cancel, .done, .fc-header .fc-button{
    color: #666666 !important;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    border: 1px solid #CCCDCE !important;
    background: #F9F9F9;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F7F8F8), color-stop(100%, #F1F2F3));
    background: -webkit-linear-gradient(#F7F8F8,#F1F2F3);
    background: -moz-linear-gradient(#F7F8F8,#F1F2F3);
    background: -o-linear-gradient(#F7F8F8,#F1F2F3);
    background: -ms-linear-gradient(#F7F8F8,#F1F2F3);
    background: linear-gradient(#F7F8F8,#F1F2F3);
    -moz-background-origin: border;
    -webkit-background-origin: border;
    -o-background-origin: border-box;
    -ms-background-origin: border-box;
    -khtml-background-origin: border-box;
    background-origin: border-box;
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2),0 1px rgba(255,255,255,0.18),inset 0 1px #fff;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2),0 1px rgba(255,255,255,0.18),inset 0 1px #fff;
    -o-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2),0 1px rgba(255,255,255,0.18),inset 0 1px #fff;
    margin-bottom: 0;
    font-size: 13px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.cancel:hover, .done:hover{
    background:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f7f8), color-stop(100%, #e8eaec));
    background:-webkit-linear-gradient(#f6f7f8,#e8eaec);
    background:-moz-linear-gradient(#f6f7f8,#e8eaec);
    background:-o-linear-gradient(#f6f7f8,#e8eaec);
    background:-ms-linear-gradient(#f6f7f8,#e8eaec);
    background:linear-gradient(#f6f7f8,#e8eaec)
}

.sf_admin_form_action_delete input[type=button], .delete{
    border-radius: 3px;
    background-color: #D14836;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#D14836));
    background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
    background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
    background-image: -ms-linear-gradient(top,#DD4B39,#D14836);
    background-image: -o-linear-gradient(top,#DD4B39,#D14836);
    background-image: linear-gradient(top,#DD4B39,#D14836);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#DD4B39',EndColorStr='#D14836');
    border: 1px solid #DD4B39;
    color: white !important;
}

.sf_admin_form_action_delete input[type=button]:hover, .delete:hover{
    background-color: #DD4B39;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#D14836),to(#DD4B39));
    background-image: -webkit-linear-gradient(top,#D14836,#DD4B39);
    background-image: -moz-linear-gradient(top,#D14836,#DD4B39);
    background-image: -ms-linear-gradient(top,#D14836,#DD4B39);
    background-image: -o-linear-gradient(top,#D14836,#DD4B39);
    background-image: linear-gradient(top,#D14836,#DD4B39);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D14836',EndColorStr='#DD4B39');
}

input[type="text"], input[type="password"]{
    font-size: 13px;
    line-height: 1;
    padding: 5px;
    min-width: 325px;
    border: 1px solid #DFDFDF;
    background: white;
    outline: 0;
}

input[type="password"]:focus, input[type="text"]:focus, textarea:focus{
    border: 1px solid #134D58;
    outline: medium none;
}

.errors input, .errors textarea{
    border: 1px solid #CD0A0A !important;
    outline: medium none;
}

.save, #add_files, .new, .button, .choose-recipient{
    border-radius: 3px;
    background-color: #134D58;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#21616D),to(#134D58	));
    background-image: -webkit-linear-gradient(top,#21616D,#134D58);
    background-image: -moz-linear-gradient(top,#21616D,#134D58);
    background-image: -ms-linear-gradient(top,#21616D,#134D58);
    background-image: -o-linear-gradient(top,#21616D,#134D58);
    background-image: linear-gradient(top,#21616D,#134D58);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#21616D',EndColorStr='#134D58');
    border: 1px solid #21616D;
    color: white !important;
}

.save:hover, #add_files:hover, .new:hover, .button:hover, choose-recipient:hover{
    background-color: #21616D;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#134D58),to(#21616D	));
    background-image: -webkit-linear-gradient(top,#134D58,#21616D);
    background-image: -moz-linear-gradient(top,#134D58,#21616D);
    background-image: -ms-linear-gradient(top,#134D58,#21616D);
    background-image: -o-linear-gradient(top,#134D58,#21616D);
    background-image: linear-gradient(top,#134D58,#21616D);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#134D58',EndColorStr='#21616D');
}

select{
    width: 338px;
    height: 27px;
}

select[size], select[multiple], select[size][multiple] {
    -moz-appearance: listbox;
    appearance: listbox;
    width: 240px;
    height: 150px !important;
}

select > option{
    padding: 3px;
}

.row label{
    font-size: 13px;
}

#login-container{
    top: -4px;
    right: 0;
    position: absolute;
}

#login-container-inner{
    position: relative;
}

#login-box, #admin-box {
    background: #F5F5F5;
    position: absolute;
    top: 41px;
    right: 0;
    display: none;
    z-index: 999999;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px 15px 15px 20px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

#login-form, .my-account-menu {
    width:266px; 
    border-radius:2px;
    padding:0.75em;	
}

#login-in-btn{
    width: 315px
}

#login-box::after, #admin-box::after {
    position: absolute;
    top: -10px;
    left: 310px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #F5F5F5;
    border-left: 10px solid transparent;
    content: '';
}

#login-options{
    text-align: center;
    padding-top: 5px;
}

#other_container_inner{
    min-height: 308px;
    background-color: #FFFFFF;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;    
}

#other_container_inner h1{
    font-size: 20px;
    line-height: 1em;
    margin: 0 0 25px;
}

#other-wrapper {
    margin: 0 auto;
    width: 920px;
}

.other-label{
    width: 160px;
    display: block;
    line-height: 19px;
    font-size: 13px;
    padding: 6px 0;
}

#cboxLoadedContentInner textarea{
    min-width: 325px;
}

#cboxLoadedContentInner input[type="text"], #cboxLoadedContentInner input[type="password"], #authenticate input[type="text"], #authenticate input[type="password"]{
    min-width: 325px !important;
    width: 325px;
}