#left-column{
  width: 198px;
  float: left;
  padding-top: 15px;
  margin-right: 20px;
  position: fixed;
}

#left-column .menu-item{  
  cursor: hand;
  cursor: pointer;
}

#left-column .menu-item span{
  margin-left: 12px !important;
  font-size: 12px;
}

.menu-heading span{
  color: #FFF;
}

#left-column .menu-heading{
  border-top: 1px solid #B5A072;
  height: 30px;
  width: 198px;
  display: block;
  position: relative;
  z-index: 99;
  background-color: #B5A072;
  border-bottom: 1px solid #FFF;
}

#nav-selected .menu-heading{
  border-bottom: none !important;
}

.menu-heading span{
  position: absolute;
  left: 0;
  top: 5px;
}

#left-column .first{
  border-top: none !important;
}

#left-column .menu-item-children li {
  position: relative;
  height: 30px;
  border-bottom: none !important;
  border: 1px solid #F5F5F5;
}

#left-column li.selected{
  border-right: none !important;    
}

#left-column li.selected a{
  color: #B5A072 !important;
}

#left-column ul a{
  color: #6B6B6B;
  display: block;
  padding-left: 10px;
  padding-top: 5px;
}

#left-column ol{
  list-style: none outside none;
}

#left-column ol{
  border-bottom: 1px solid #F5F5F5;  
}

#left-column ul{
  overflow: hidden;
}