#left-column .menu-item{  
    cursor: hand;
    cursor: pointer;
}

#left-column .menu-item span{
    margin-left: 22px !important;
}

#left-column .menu-item .home-icon{
    background: url("/images/breadcrumb-home.png") no-repeat scroll left 50% transparent;
    display: block;
    float: left;
    height: 10px;
    margin-right: 10px;
    margin-top: 4px;
    width: 10px;  
}

#nav-selected .menu-heading{
    background: url("/images/bg_menu_left_selected.png") no-repeat 0px 2px transparent !important;
}

#left-column .menu-item .menu-heading{
    background: url("/images/bg_menu_left.png") no-repeat 0 transparent;
    height: 66px;
    color: #7E7E7E !important;
    width: 208px;
    display: block;
    position: relative;
    z-index: 99;
    margin-top: -8px;
}

.menu-heading span{
    position: absolute;
    left: 16px;
    top: 23px
}

#left-column .menu-item-children{
    margin-top: -8px;
}

#left-column .first{
    border-top: none !important;
}

#left-column .menu-item-children li {
    background: url("/images/bg_menu_item.png") no-repeat 0 transparent;
    position: relative;
    width: 204px;
    height: 45px
}

#left-column li a{
    color: #363636 important;
}

#left-column li.selected a{
    color: #21616D !important;
}

#left-column ul a{
    color: #363636;
    display: block;
    padding-left: 20px;
    padding-top: 13px;
}

#left-column ol{
    list-style: none outside none;
}