#left-column{
    width: 198px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    position: fixed;
    border-bottom: 1px solid #EBEAE9;
}

#left-column .menu-item{  
    cursor: hand;
    cursor: pointer;
}

#left-column .menu-item span{
    margin-left: 12px !important;
    font-size: 11px;
}

#left-column .menu-item .home-icon{
    background: url("/images/breadcrumb-home.png") no-repeat scroll left 50% transparent;
    display: block;
    float: left;
    height: 10px;
    margin-right: 10px;
    margin-top: 4px;
    width: 10px;  
}

#nav-selected .menu-heading{
    background-color: #856651;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#9A8268),to(#856651));
    background-image: -webkit-linear-gradient(top,#9A8268,#856651);
    background-image: -moz-linear-gradient(top,#9A8268,#856651);
    background-image: -ms-linear-gradient(top,#9A8268,#856651);
    background-image: -o-linear-gradient(top,#9A8268,#856651);
    background-image: linear-gradient(top,#9A8268,#856651);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9A8268',EndColorStr='#856651');
}

.menu-heading span{
    color: #FFF;
    text-transform: uppercase;
}

#left-column .menu-heading{
    border-top: 1px solid #9A8268;
    margin-left: -1px;
    height: 30px;
    width: 199px;
    display: block;
    position: relative;
    z-index: 99;
    background-color: #856651;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#9A8268),to(#856651));
    background-image: -webkit-linear-gradient(top,#9A8268,#856651);
    background-image: -moz-linear-gradient(top,#9A8268,#856651);
    background-image: -ms-linear-gradient(top,#9A8268,#856651);
    background-image: -o-linear-gradient(top,#9A8268,#856651);
    background-image: linear-gradient(top,#9A8268,#856651);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9A8268',EndColorStr='#856651');
}

.menu-heading span{
    position: absolute;
    left: 0;
    top: 5px;
}

#left-column .first{
    border-top: none !important;
}

#left-column .menu-item-children li {
    position: relative;
    height: 30px;
    border-bottom: none !important;
    border: 1px solid #EBEAE9;
}

#left-column li.selected{
    border-right: 1px solid #F8F7F5 !important;    
}

#left-column li.selected a{
    color: #9D774B !important;
}

#left-column ul a{
    color: #363636;
    display: block;
    padding-left: 10px;
    padding-top: 5px;
}

#left-column ol{
    list-style: none outside none;
}