.news h4 {
    color: #8A8A8A;
    font-size: 12px;
    padding: 0;
}

.news .user-image{
    float: left;
    padding: 10px 10px 0 0;
}

.news a{
    color: #3F7CB6;
}

.news .user-meta{
    color: #666666;
    padding: 5px 0;
}

.news-action .more-link{
    margin-top: -30px
}

#news_item_blurb, #news_item_body, #news_item_heading{
    width: 688px !important
}

.news-row{
    border-bottom: 1px dashed #C0C0C0;
    padding: 5px 0;
}

#recent_newss{
    margin-bottom: 10px;
}

.news-item{
    padding: 10px 10px;
    position: relative;
    display: block;
    clear: both;
    background-color: white;
    border-top: 1px solid #EBEAE9;
}

.sf_admin_form_field_body label {
    float: none !important;
}