.news h4 {
    color: #8A8A8A;
    font-size: 12px;
    padding: 0;
}

#news-action{
    display: block;
    height: 40px;
    position: relative;
}

.news-details{
    padding: 0 5px 10px 10px;
    width: 740px;
}

#news-action .users-actions{
    left: 5px;
    position: absolute;
    top: 5px;
}

.news .user-image{
    float: left;
    padding: 10px 10px 0 0;
}

.news a{
    color: #3F7CB6;
}

.description{
    padding-top: 10px;
}

.news .user-meta{
    color: #666666;
    padding: 5px 0;
}

.news-action .more-link{
    margin-top: -30px
}

/* news fields */
#news_blurb, #news_description, #news_heading{
    width: 688px !important
}

.news-row{
    border-bottom: 1px dashed #C0C0C0;
    padding: 5px 0;
}

#recent_newss{
    margin-bottom: 10px;
}

.news{
    padding: 10px 10px 0;
    background-color: #F5F5F5;
    margin-top: 10px;
    border-radius: 5px;
    position: relative;
}

.news-action{
    margin-bottom: 10px !important;
}