.profile-info {
  margin-top: 5px;
  display: inline-block;
  width: 490px;
}

.profile-image {
  display: inline-block;
  width: 176px;
  padding: 10px;
}

.account-settings-block {
  margin-top: 5px;
  padding-left: 10px;
  display: inline-block;
  width: 323px;
}

.profile-row{
  padding: 5px 0;
}

.odd .edit-qualification, .odd .edit-award{
  position: absolute;
  top: 2px;
  right: 10px;
}

.even .edit-qualification, .even .edit-award{
  position: absolute;
  top: 2px;
  right: 45px;
}

.odd .delete-qualification, .odd .delete-award{
  position: absolute;
  top: 2px;
  right: -10px;
}

.even .delete-qualification, .even .delete-award{
  position: absolute;
  top: 2px;
  right: 25px;
}

#crop_area{
  padding: 10px;
  height: 420px;
}

.peer{
  display: inline-block;
  height: 58px;
  margin: 10px 10px 0px 0;
  padding: 10px 10px 0px 10px;
  width: 322px;
  word-break: break-all;
  background-color: #F5F5F5;
}

.last{
  margin-right: 0 !important;
}

.peer-filter{
  background-color: #F9F9F9;
  border: 1px solid #FFFFFF;
  border-bottom: 0 !important;
  display: inline-block;
  height: 19px;
  margin-right: -1px;
  padding: 5px;
}

.peer .type, .author{
  color: #90959A;
  font-size: 11px;
  text-transform: uppercase;
}

.peer-filters .current{
  background-color: #F1F1F1;
}

#profile_publications ul,
#profile_books ul, 
#profile_interests ul{
  list-style-type: disc !important;
  padding-left: 25px;
}

#profile_publications li,
#profile_books li, 
#profile_interests li{
  line-height: 25px !important;
  padding-top: 10px;
}

#profile_publications,
#profile_books,
#profile_interests{
  padding-bottom: 10px;
}

#timeline_form_container{
  margin-left: 10px;
}

.snapshot{
  padding: 10px 10px;
  position: relative;
  display: block;
  border: 1px solid #F5F5F5;
  margin: 0 0 10px 10px;
  vertical-align: top;
  background-color: #F5F5F5;
}

.snapshot .heading{
  border-bottom: 1px solid #F5F5F5;
}

.snapshot .body{
  margin: 0 0 0 43px !important;
  border-bottom: 1px solid white;
}

.statistics{
  padding-top: 5px;
  height: 30px;
  margin-left: 43px;
}

.snapshot .comments{
  border: 1px solid #F5F5F5;
  border-bottom: none !important;
  margin-left: 43px;
}

.comments .statistics{
  background-color: #F5F5F5;
  border-top: none !important;
  border-bottom: 1px solid #F5F5F5;
  margin-left: 0 !important;
}

.snapshot .comment .heading{
  height: 45px !important;
  border-bottom: 1px solid #F5F5F5;
}

.left-timeline, .right-timeline{
  display: inline-block;
  vertical-align: top;
  width: 364px;    
}

.qualification, .award{
  padding: 10px 10px;
  position: relative;
  display: block;
  border: 1px solid #F5F5F5;
  vertical-align: top;
  background-color: #F5F5F5;
  min-height: 96px;
  margin-top: 10px;
}

.qualification-info, .award-info {
  display: inline-block;
  width: 477px;
}

.qualification .body, .award .body {
  padding-top: 5px;
}