.profile-info {
  margin-top: 5px;
  display: inline-block;
  width: 451px;
  vertical-align: top;
}

.profile-image {
  vertical-align: top;
  display: inline-block;
  width: 243px;
  padding: 10px;
}

.profile-biography{
  height: 130px;
  padding: 10px;
  display: inline-block;
  width: 128px;
}

#profile_about_me{
  vertical-align: top;
  display: inline-block;
  padding: 10px 10px 10px 0;
  width: 556px;
}

.account-settings-block {
  margin-top: 5px;
  padding-left: 10px;
  display: inline-block;
  width: 323px;
}

.profile-row{
  padding: 5px 0;
}

.odd .edit-qualification, .odd .edit-award{
  position: absolute;
  top: 2px;
  right: 10px;
}

.even .edit-qualification, .even .edit-award{
  position: absolute;
  top: 2px;
  right: 45px;
}

.odd .delete-qualification, .odd .delete-award{
  position: absolute;
  top: 2px;
  right: -10px;
}

.even .delete-qualification, .even .delete-award{
  position: absolute;
  top: 2px;
  right: 25px;
}

#crop_area{
  padding: 10px;
  height: 420px;
}

.peer{
  display: inline-block;
  height: 45px;
  margin: 1px -3px 0px 0px;
  padding: 10px 10px 0px 10px;
  width: 328px;
  word-break: break-all;
  background-color: #F5F5F5;
  border-radius: 2px;
  position: relative;
}

.last{
  margin-right: 0 !important;
}

.peer-filter{
  background-color: #F9F9F9;
  border: 1px solid #FFFFFF;
  border-bottom: 0 !important;
  display: inline-block;
  height: 19px;
  margin-right: -1px;
  padding: 5px;
}

.peer .type, .author{
  color: #90959A;
  font-size: 11px;
  text-transform: uppercase;
}

.peer-filters .current{
  background-color: #F1F1F1;
}

#profile_publications ul,
#profile_books ul, 
#profile_interests ul{
  list-style-type: disc !important;
  padding-left: 25px;
}

#profile_publications li,
#profile_books li, 
#profile_interests li{
  line-height: 25px !important;
  padding-top: 10px;
}

#profile_publications,
#profile_books,
#profile_interests{
  padding-bottom: 10px;
}

#timeline_form_container{
  margin-left: 10px;
}

.snapshot{
  padding: 10px 10px;
  position: relative;
  display: block;
  border: 1px solid #F5F5F5;
  margin: 0 0 10px 0;
  vertical-align: top;
  background-color: #F5F5F5;
}

.snapshot h3{
    font-size: 13px !important;
}

.snapshot .name a, .snapshot .heading a{
  font-size: 13px !important;
}

.snapshot .body{
  margin: 0 0 0 43px !important;
}

.statistics{
  padding-top: 5px;
  height: 30px;
  margin-left: 43px;
}

.snapshot .comments{
  border-bottom: none !important;
  margin-left: 43px;
}

.left-timeline, .right-timeline{
  display: inline-block;
  vertical-align: top;
  width: 364px;    
}

.qualification, .award{
  padding: 10px 10px;
  position: relative;
  display: block;
  border: 1px solid #F5F5F5;
  vertical-align: top;
  background-color: #F5F5F5;
  min-height: 96px;
  margin-top: 10px;
}

.qualification-info, .award-info {
  display: inline-block;
  width: 477px;
}

.qualification .body, .award .body {
  padding-top: 5px;
}

.sf_admin_boolean label, .radio_list label{
  position: absolute;
  left: 30px;
  top: 6px;
  height: 22px;
}

.sf_admin_boolean .content, .radio_list input{
  position: absolute;
  left: 10px;
  top: 10px;
}

#notification_settings_form .sf_admin_form_row{
  height: 22px;
}

#profile_biography_form_holder .redactor_editor {
  max-height: 150px;
  height: 200px;
}

.profile-image .button{
  width: 100px;
  margin-bottom: 5px;
}

#profile_details .row-value,
#profile_credentials .row-value{
    width: 226px !important;
}