.landing-image{
    position:relative;
    overflow:hidden;
    width: 590px;
    height: 266px;
    margin: 10px
}

.landing-image div {
    float:left;
}

.landing-image img{
    border-radius: 5px;
}

.landing-image .items {
    width:20000em;
    position:absolute;
}

.images-container{
    background-color: #FFFFFF;
    display: inline-block;
    width: 612px;
    height: 289px;
}

/* this makes it possible to add next button beside scrollable */
.scrollable {
    float:left;
}

/* prev, next, prevPage and nextPage buttons */
a.browse {
    background: url(/images/slider-arrows.png) no-repeat;
    display: block;
    float: left;
    margin: 40px 10px;
    cursor: pointer;
    font-size: 1px;
    position: absolute;
    top: 44px;
}

/* right */
a.right {
    width: 32px;
    height: 82px;
    background-position: right 0px;
    clear: right;
    right: -36px;
}


/* left */
a.left {
    left: -76px;
    background-position: 3px 0px;
    width: 71px;
    height: 83px;
}

/* up */
a.up:hover { background-position:-30px 0; }
a.up:active { background-position:-60px 0; }

/* down */
a.down { background-position: 0 -30px; }
a.down:hover { background-position:-30px -30px; }
a.down:active { background-position:-60px -30px; }


/* disabled navigational button */
a.disabled {
    visibility:hidden !important;
}
