#main-header{
    background-color: #F1F1F1;
    color: #7F7F7F;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 999;
    height: 42px;
    top: 0;
    border: 1px solid #E8E8E8;
}

#main-logo div{
    vertical-align: top;
    height: 61px;
}

#main-body{
    margin: 0 auto;
    width: 940px;
    padding-top: 45px;
}

#main-logo{
    display: inline-block;
    vertical-align: top;
    width: 190px;
    text-indent: -9999px;
    margin-top: 5px;
    height: 32px;
    background: url(/images/logo.png) -4px 0 no-repeat;
    overflow: hidden;
}

#main-logo a{
    width: 215px;
    height: 32px;
    display: block;
}

#main-header .wrapper{
    height: 42px;
    margin: 0 auto;
    width: 940px;    
}

#main-menu{
    vertical-align: top;
    display: inline-block;
    width: 746px;   
}

#main-menu ul{
    display: inline-block;
    width: 615px;
}

#main-menu ul li{
    margin: 0;
    text-align: center;
    display: block;
    float: left;
    height: 22px;
    padding: 10px 14px 10px 0;
}

#main-menu ul li.last a{
    border-right: none !important;
    overflow: hidden;
}

#main-menu ul li.last{
    border-right: none !important;
    overflow: hidden;
}

#main-menu ul li.first a{
    border-right: none !important;
    overflow: hidden;
}

#main-menu ul li.first{
    overflow: hidden;
}

#main-menu a{
    color: #6B6B6B;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: 400;
    height: 22px;
    text-decoration: none;
    text-align: left;
}

#main-menu ul li.active a{
    color: #B5A072 !important;
    border-bottom: 10px solid #B5A072;
    height: 15px !important;
    padding-bottom: 10px !important;
    font-weight: bold;
}

#main-menu ul li.normal a:hover,
#main-footer ul li a:hover{
    color: #B5A072 !important;
}

#middle-column {
    padding-top: 30px;
    padding-bottom: 40px;
    width: 720px;
    margin-left: 220px;
}