#main-menu{
  height: 40px;
}

#main-menu ul li{
  display: inline;
  float: left;
  height: 20px;
  text-align: left;
  padding-right: 32px;
}

#main-menu a{
  padding: 10px 9px 10px 0;
  display: block;
  text-align: left;
  color: #C6C8C8;
  font-size: 16px;
  font-weight: 400;
}

#main-menu ul li.active a{
  color: #DCC170 !important;
}

#main-menu ul li.normal a:hover,
#main-footer ul li a:hover{
  color: #DCC170 !important;
}