#sf_admin_content{
    padding: 10px 0 0;
    width: 722px;
}

.sf_admin_pagination ul li{
    background-color: #F9F9F9;
    border: 1px solid #FFFFFF;
    display: inline;
    float: left;
    height: 20px;
    margin-left: 3px;
    padding: 0px 5px 0;
    position: relative;
}
#sf_admin_heading, .sf_admin_heading{
    height: 15px;
}
#sf_admin_heading h3, .sf_admin_heading h3{
    color: #21616D;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}
.pager-current{
    background-color: #21616D !important;
    color: #FFFFFF;
}
.sf_admin_pagination ul li a:hover{
    color: #4B7092;
    text-decoration: underline;
}
.sf_admin_pagination ul li:hover{
    cursor: pointer;
}
.sf_admin_pagination ul li a{
    color: #21616D !important;
}
#sf_admin_form_container{
    display: table;
    width: 100%;
}
.sf_admin_list{
    display: table;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #FFFFFF;
}
.sf_admin_list table{
    width: 100%;
    background-color: #FFFFFF;
}
.sf_admin_list th, #discussion_topics_footer{
    background-color: #F1F1F1;
    color: #7E7E7E;
    font-size: 12px;
    font-weight: normal;
    padding: 5px 5px 5px 10px;
    text-align: left;
}
.sf_admin_list th a{
    font-size: 12px;
    font-weight: normal;
    color: #7E7E7E !important;
}
.sf_admin_list th a:hover{
    text-decoration: underline !important;
}
tr.sf_admin_row.even{
    background-color: #F9F9F9;
    border-bottom: 1px solid #FFFFFF;
}
tr.sf_admin_row.odd{
    background-color: #F8F8F8;
    border-bottom: 1px solid #FFFFFF;
}
.sf_admin_list td a{
    color: #0088CC;
}
.sf_admin_list td a:hover{
    color: #0088CC;
    font-size: 12px;
    text-decoration: underline;
}
.sf_admin_list td{
    font-size: 12px;
    padding: 5px 5px 5px 10px;
}
.sf_admin_heading{
    color: #555555;
    white-space: nowrap;
}
#sf_admin_documents{
    color: #555555;
    height: 18px;
    padding-bottom: 5px;
    padding-top: 10px;
}
.sf_admin_pagination{
    float: right;
    margin-top: -3px;
    padding: 5px 0;
}
.sf_admin_form fieldset{
    border-radius: 5px 5px 0 0;
}
.sf_admin_form h2, .sf_admin_show h2{
}
.sf_admin_form fieldset .sf_admin_form_row{
    padding: 10px 10px !important;
}
.sf_admin_form_row{
    font-size: 12px;
    padding: 0 10px 10px;
}
.sf_admin_form_row div.help{
    color: #AAAAAA;
    font-size: 11px;
    padding-left: 12em !important;
}
.sf_admin_form_row label{
    color: #666666;
    display: block;
    float: left;
    font-weight: normal;
    padding-bottom: 5px;
    width: 140px;
}
ul.sf_admin_actions{
    height: 30px;
    margin: 10px 0 0;
    text-align: right;
}
#sf_admin_documents ul.sf_admin_actions{
    height: 30px;
    margin: 10px 0 -10px 20px;
}
ul.sf_admin_actions li{
    display: inline-block;
    margin-left: 5px;
    position: relative;
}
.double_list_label{
    color: #666666;
    padding: 5px 0;
}

#sf_admin_container ul li.sf_admin_action_edit{
    float: left;
    margin-right: 5px;
}

ul.sf_admin_td_actions li.sf_admin_action_delete{
    float: left;
}

.error .title{
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    font-weight: normal;
    font-size: 12px;
    background-color: #CD0A0A;
    color: #FFFFFF;
    font-size: 12px;
    margin: 13px 0 0 !important;
    padding: 3px 10px;
}

.error ol{	
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    background-color: #FCF0F0;
    border: 1px solid #E2D0D0;
    border-radius: 0 0 5px 5px;
    color: #8D1C1C !important;
    font-size: 11px;
    margin: 0 0 3px;
    padding: 3px 10px
}

.notice{
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    background-color: #DEFFBA;
    font-size: 12px;
    padding: 5px 30px;
    text-align: center;
    color: #21616D;
    margin-top: 10px;
}

.sf_admin_td_actions img {
    border-color: transparent;
    border-width: 0;
}

#sf_admin_content .sf_admin_form fieldset{
    margin: 0 0 10px;
    min-width: 300px;
    padding: 0;
}