#logo-container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

#header-big{
    height: 185px;
    padding-top: 2em;
}

#main-header, #header-big{
    background-color: #F9F9F9;
    position: fixed;
    width: 100%;
    height: 65px;
    width: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
}

#header-wrapper{
    margin: 0 auto;
}

#top-header-big{
    height: 150px;
    margin: 0 auto;
    width: 920px;
    position: relative;
}

#inner-header-wrapper{
    overflow: hidden;
    height: 65px;
}

#inner-header-landing-wrapper{
    height: 122px; 
    background: url("/images/bg_landing_header.jpg") repeat-x transparent;
}

#logo-wrapper{
    height: 68px;    
}

#logo-big{
    width: 200px;
    float: left;
}

#top-header-big .intro{
    float: left;
    width: 38em;
    clear: left;
}

.datetime{
    color: #999999;
    display: inline;
}

#top-header-big h1 a{
    display: block;
    margin-right: 1em;
    float: left;
    height: 52px;
    overflow: hidden;
    width: 260px;
    padding: 0;    
}

#top-header-big h2 {
    font-size: 18px;
    float: left;
    margin-bottom: 1.3em;
    text-shadow: 0 2px 2px rgba(0, 116, 162, 0.7);
    text-rendering: optimizeLegibility;
}

#main-container, #other-container, #login-container{
    background-color: transparent;
    clear: both;
    color: #3D3D3D;
    padding-bottom: 55px;
    position: relative;
}

#main-container{
    clear: both;
    color: #3D3D3D;
    padding-bottom: 55px;
    position: relative;
}

#main-container, #other-container{
    margin-top: 0;    
}

#main-container a, #login-container{
    color: #C37E4C;
}

#container-wrapper, #main-container-wrapper{
    clear: both;
    position: relative;
}

#main-container-wrapper{
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

#container-wrapper{
    margin: 0 auto;
    width: 920px;
}

#main-menu{   
    background-image: -moz-linear-gradient(top,#AB6634,#C37E4C);
    background-image: -webkit-gradient(linear,left bottom,left top,from(#AB6634),to(#C37E4C));
    background-color: #AB6634;
    display: block;
    margin: 0;
    padding: 0 0 0;
    height: 40px;
}

#top-menu .separator{
    background-color: #C37E4C;
    height: 40px;
    width: 1px;
}

#top-menu ul li{
    display: inline;
    float: left;
    height: 20px;
}

#top-menu ul li.normal{
    height: 40px;
}

#top-menu ul li.first{
}

#top-menu ul li.active, #top-menu ul li.normal:hover{
    background-image: -moz-linear-gradient(top,#985321,#A04F17) !important;
    background-image: -webkit-gradient(linear,left bottom,left top,from(#985321),to(#A04F17)) !important;
    background-color: #985321 !important;
    height: 40px;
}

#top-menu a{
    padding: 10px 9px 10px 10px;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    height: 25px;
    text-decoration: none !important;
}

#top-menu ul li.active a{
    color: #FFFFFF !important;
}

#top-menu ul li.normal a{
    color: #FFFFFF !important;
}

#quick-links ul li{
    padding: 0 20px 0 0;
    color: #FFF;
    display: inline;
}

#quick-links ul li a{
    color: #FFF !important;
}

#quick-links{
    left: 20px;
    position: absolute;
    top: 5px;
}

#header-links{
    float: right;
    margin-top: 20px;
}

#header-links ul li{
    color: #FFFFFF;
    display: inline;
    padding: 0 0 0 20px;
    position: relative;
}

#header-links ul li a{
    color: #C37E4C !important;
}

#top-menu, #inner-container-wrapper, #left-column-container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#top-menu ul{
    margin: 0;
}

#bottom-menu{    
    margin: 0 auto;
    width: 940px;
}

#left-column{
    width: 218px;
    float: left;
    margin-top: 20px;
}

#middle-column{
    margin-left: 218px;
    padding-bottom: 40px;
    width: 722px
}

#middle-landing-column{
    background-color: #F9F9F9 !important;
    padding-bottom: 10px;
    width: 940px;
    margin-top: 15px;
    border-radius: 5px;
}

#main-footer{
    border-top: 1px solid #CCCCCC;
    background-color: #FFFFFF !important;
    bottom: 0;
    color: #985321;
    height: 37px;
    position: fixed;
    margin: 0 auto;
    width: 100%;
}

.clear{
    clear: both;
}

.hide{
    display: none !important;
}

.show{
    display: block !important;;
}

#bottom-menu{
    padding-top: 10px;
    position: relative;
}

#copyright{
    float: left;
}

#footer-links{
    float: left;    
}

#ownership{
    position: absolute;
    right: 0;
    top: 10px;
    color: #3D3D3D;
    text-transform: uppercase;
    font-size: 11px;  
}

#ownership  a{
    color: #AAA !important;
    font-size: 11px;  
}

#main-footer ul li{
    padding-left: 10px;
    color: #FFF;
    display: inline;    
}

#main-footer ul li a{
    color: #985321 !important;
}

#breadcrumbs-container-wrapper{
    background: url("/images/bg_breadcrum.jpg") repeat-x transparent;
    position: fixed;
    width: 100%;
    height: 35px;
    z-index: 99999;
    top: 105px;
    left: 0;
}

#breadcrumbs{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
}

#breadcrumbs ol{
    color: #4B7092 !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#breadcrumbs ol li.first{
    background: url("/images/bg_breadcrum_left_border.jpg") no-repeat scroll -4px 2px transparent;
    height: 29px;
    padding-left: 10px;
}

#breadcrumbs ol li{
    float: left;
    height: 33px;
    padding-top: 4px;
    line-height: 2.5em;
}

#breadcrumbs ol li.after{
    background: url("/images/bg_breadcrum_arrow.jpg") no-repeat scroll left 0 transparent;
    float: left;
    padding-left: 25px;
}

#breadcrumbs li a{
    color: #7E7E7E !important;
    margin: 0 0 0 4px;
    overflow: hidden;
    padding: 0;
}

#sf_admin_container{
    margin: 0;
    padding: 11px 0 0;
    position: relative;
}

#sf_admin_container .content-block h4{
    color: #8A8A8A;
    font-size: 12px;
    font-weight: bold;
}

#sf_admin_container .content-heading{
    height: 18px;
    padding-bottom: 5px;
}

#sf_admin_container .content-heading h3{
    color: #985321;
    font-size: 14px;
    font-weight: normal;
}

.sf_admin_form fieldset{
    background-color: #FFFFFF;
}

#sf_admin_container .content-block{
    padding: 0;
    position: relative;
    border-radius: 3px;
    margin-bottom: 10px;
}

.half-block{
    background-color: #F6F6F6;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
}

.full-block{
    position: relative;
    background-color: #FFFFFF;   
}

.full-block table{
    margin-top: -1px;
}

.plain-row{
    padding-bottom: 5px;
    background-color: #F9F9F9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.white-background{
    background-color: #FFFFFF;   
    margin-bottom: 10px; 
}

#discussion_stats, #recent-posting{
    height: 128px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

#sf_admin_container .left-block{
    float: left;
    margin-right: 10px;
    width: 356px;
    border-radius: 3px
}

#sf_admin_container .right-block{
    float: left;
    width: 356px;
    border-radius: 3px;   
}

#sf_admin_container .content-block h2, .sf_admin_form fieldset h2{
    background-color: #DDD;
    clear: both;
    height: 20px;
    font-weight: normal;
    font-size: 12px;
    padding: 5px 10px;
}

#sf_admin_container .content-block h2 .actions, #sf_admin_form_container h2 .actions{
    color: #985321;
    float: right;
    display: block;
}

#sf_admin_container .content-row{
    padding: 5px 5px 5px 0;
}

#sf_admin_container .attribute-label{
    color: #666666;
    display: block;
    float: left;
    padding: 0 10px 0 0;
    text-align: left;
    width: 170px;
}

#sf_admin_container .attribute-value{
    display: block;    
}

.more-link{
    padding: 5px;
    position: relative;
    text-align: right;
}

.more-link a{
    color: #985321;
}

#left-panel{
    height: 400px;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 880px;
}

#right-panel{
    height: 300px;
    left: 620px;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 400px;
}

.panel-block{
    display: block;
    margin-bottom: 20px;
}

#welcome-to-tutorplus{
    border: 1px solid #E5E5E5;
    height: 290px;
    padding: 10px 20px;
}

#lecture-hall{
    background: url("/images/lecture-hall.jpg") no-repeat scroll 0 0 transparent;
    height: 170px;
    width: 535px;
    margin-top: 10px;
}

#lecture-hall-caption{
    margin-top: 10px;
}

#authenticate{
    width: 357px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

#authenticate form{
    padding: 0px 10px 10px 10px;    
}

#request-password{
    position: absolute;
    top: 3px;
    right: 89px;
}

#sign-in-back{    
    position: absolute;
    top: 3px;
    right: 140px;
}

#sign-in-label{
    position: absolute;
    top: -7px;
    left: 25px;
}

#sign-in, #recover-password{
    text-align: right;
}

#features-heading, #sign-in-message, #welcome-messsage, #system-information-heading{
    font-size: 16px;
    margin-bottom: 10px;
}

#system-features{
    min-height: 100px;
    height: 200px;
    padding: 10px 20px;
}

#tutorplus-system-info{
    min-height: 100px;
    border: 1px solid #E5E5E5;
    height: 200px;
    padding: 10px 20px;
}

#collaborative-learning{
    background: url("/images/icons/20x20/collaborative_learning.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

#connect{
    background: url("/images/icons/20x20/connect.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

#access-anywhere-anytime{
    background: url("/images/icons/20x20/access_anywhere_anytime.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

#documents{
    background: url("/images/icons/20x20/documents.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

#logo-descriptor{    
    margin-left: 20px;
}

#logo{
    float: left;
    overflow: hidden;
}

#sf_admin_container .user-image{
    float: left;
    padding: 5px 10px 0 0;
}

#sf_admin_container .user-meta{
    color: #666666;
    padding: 5px 0;
}

#sf_admin_container .datetime{
}

#folder_name{
    width: 315px !important;
}

#heading-tabs{
    margin-top: 20px;
}

.correspond-left-block #heading-tabs{
    margin-top: 0 !important;    
}

#heading-tabs li {
    border-left: 1px solid #CCCCCC !important;
    border-right: 1px solid #CCCCCC !important;
    border-top: 1px solid #CCCCCC !important;
    background-color: #8A8A8A;
    border-radius: 3px 3px 0 0;
    display: block;
    float: left;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 5px 10px;
    position: relative;
    cursor: hand;
    cursor: pointer;
}

#heading-tabs li.first {
    margin-left: 0 !important;
}

#heading-tabs li h4{
    color: #FFFFFF !important;
    font-size: 13px;
    font-weight: normal !important;
}

#heading-tabs li.current{
    background-color: #FFFFFF;
}

#heading-tabs li.current h4{
    color: #8A8A8A !important;
    font-size: 13px;
    font-weight: normal;
}

.loading{
    text-align: center;
    padding: 10px;
}

.heading-tabs{
    height: 27px;
}

.members_tab{
    border: 1px solid #CCCCCC;
}

.heading-tabs li.tabs {
    display: inline-block;
}

.heading-tabs li.tabs a {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin: 0;
    float: left;
    overflow: hidden;
    padding: 3px 5px;
}

.heading-tabs li.normal a:hover{
    text-decoration: underline !important;
}

.heading-tabs li.active a{
    background: none repeat scroll 0 0 #F9F9F9 !important;
    border-bottom: 1px solid #F9F9F9 !important;
}

.instruction{
    padding: 10px;
}

.inline-block {
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.discussion, .discussion_topic{
    padding: 10px 10px;
    position: relative;
    display: block;
    clear: both;
    background-color: #FFF;
    border-bottom: 1px dashed #DDD;
}

.section_description{
    position: relative;
    background-color: #F9F9F9;
    position: relative;
    display: block;
    clear: both;
}

.item-actions{
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 3px;
}

.potential-list {
    margin: 10px 0 0;
    display: inline-block;
    clear: both !important;
    width: 296px;
    position: relative;
}

.overlay-content {
    margin: 10px 0 0;
    display: inline-block;
    clear: both !important;
    width: 296px;
    position: relative;
    padding: 0 10px 10px;
}

.potential-list .image {
    float: left;
    padding-top: 3px;
}

.potential-list .name {
    float: left;
    width: 250px;
    padding-left: 10px;
}

.potential-list .input {
    float: left;
}

#programmes_list, #courses_list, #mailing_lists_list{
    display: block;
    margin-bottom: 10px;
}

#programmes_list li {
    display: block;
    float: left;
    height: 20px;
    line-height: 18px;
    margin-bottom: 10px;
    position: relative;
    width: 400px;
}

.program-name{
    height: 20px;
    left: 20px;
    position: absolute;
    top: 0;
}

.program-image{
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 10px;    
}

#courses_list li {
    display: block;
    float: left;
    height: 20px;
    line-height: 18px;
    margin-bottom: 10px;
    position: relative;
    width: 400px;
}

.course-name{
    height: 20px;
    left: 20px;
    position: absolute;
    top: 0;
}

.course-image{
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 10px;    
}

#mailing_lists_list li {
    display: block;
    float: left;
    height: 20px;
    line-height: 18px;
    margin-bottom: 10px;
    position: relative;
    width: 400px;
}

.mailing-list-name{
    height: 20px;
    left: 20px;
    position: absolute;
    top: 0;
}

.mailing-list-image{
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 10px;    
}

#instructor-carousel{
    float: right;
    -webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
    max-width:470px;
    z-index: 1000;
}

#instructor-carousel-inner{
    zoom:1px;
    position:relative;
    background: #FFF;
    color:#3D3D3D;
    font-size:12px;
    line-height:150%;
    font-style:normal !important;
    padding:18px;
}

#instructor-carousel .small-image{
    float:left;
    border:solid 3px #fff;
    -webkit-box-shadow:inset 0 1px 0 #64A8D1, 0 1px 5px #000;
    box-shadow:inset 0 1px 0 #64A8D1, 0 1px 5px #000;
    line-height:50%;
    padding:0 !important;
}


#instructor-carousel .instructor-info{
    float:left;
    width:290px;
    margin-left:20px;
    text-shadow: none !important;
}

.small-info h4 {
    float: left;
    font-size: 18px;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    line-height: 115%;
    vertical-align: middle;
    text-transform: none;
    text-align: left;
    margin: 0 10px 5px 0 !important;
    padding: 0 !important;
}

.drive-intro img{
    float: left;
    margin-right: 15px;
}

.instructor-info h4{
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 5px;
}

.instructor-position{
    font-style: italic;
    color: #90959A;
    padding-bottom: 5px;
}

.instructor-about{
    text-align: justify;
}

#institutions-logo{
    background: url("https://piazza.com/css/splash/images/school-logos.png") left bottom no-repeat;
    height: 67px;
}

.tutorplus-features{
    font-size: 16px;
    padding-top: 15px;
}

.tutorplus-features li{
    height: 55px;
}

.course-description{
    height: 80px;
    clear: both;
    background-color: #F5F5F5;
    margin-bottom: 10px;
    border-radius: 5px;
}

.course-description .image{
    width: 150px;
    float: left;    
}

.course-description .image img{
    width: 100px;
    padding: 10px;
}

.course-description .info{
    height: 60px;
    width: 510px;
    float: left;
    padding: 10px;
    position: relative;
}

.course-description .info .institution{
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-transform: uppercase;
    font-size: 11px
}

.course-description .info .instructor{
    position: absolute;
    bottom: 30px;
    left: 10px;    
}

.course-description .schedule{
    width: 130px;
    float: left;
    padding: 10px;     
}

.image img{
    float: left;
    margin-right: 10px;
}

.even-background {
    background-color: #F6F6F6 !important;
}

.odd-background {
    background-color: #F9F9F9 !important;
}

.no-result{
    background-color: #F9F9F9 !important;
    padding: 10px;
}

.no-padding{
    padding: 0 !important;
}

.landing-row{
    width: 940px;
    clear: both;
    height: 289px;
}

.landing-right-column{
    float: left;
    width: 310px;
    height: 289px;
    margin-left: 15px;
}

.landing-left-column{   
    float: left;
    width: 612px;
    height: 289px;
    position: relative;
}

.scrollable-container{
    width: 612px;
    height: 289px;
    position: relative;
    background-color: #FFF;
    border-top-left-radius: 5px;
}

.welcome-message{
    padding: 10px;
    line-height: 30px;
}

.welcome-message span{
    line-height: 30px;
    font-weight: bold;
}

.instructor-testimonial{
    padding: 10px;
    float: left;
    width: 286px;
}

.instructor-testimonial .institution{
    color: #90959A;
    font-size: 11px;
    text-transform: uppercase;
}

.says{
    font-size: 11px;
}

.column-row{
    height: 144px;
    margin-top: -1px;
}

.landing-button{
    margin: 40px 0 40px 67px !important;
    padding: 18px !important;
    width: 255px;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
}

#middle-landing-column fieldset{
    padding-bottom: 20px;
}

#middle-landing-column form{
    margin-top: 20px;
}

.padding-10{
    padding: 10px;
}

.even-row{
    padding: 5px 10px;
    position: relative;
    display: block;
    clear: both;
}

.even-row::after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

#activity_feeds .even-row{
    padding: 5px 10px 10px !important;
}

.odd-row{
    background-color: #F6F6F6;
    border-bottom: 1px solid #FFFFFF;
    padding: 5px 10px;
    position: relative;
}

.row-label{
    width: 150px !important;
    display: inline-block;
    color: #666666;
}

.row-value{
    display: inline-block;
}

.row-column{
    display: inline-block;
    padding: 0;
    width: 349px;
}

.peer-block{
    overflow: hidden;
}

.label{
    color: #666666;
}

.about-me{
    height: 155px;
}

.about-me-photo{
    right: 135px;
    position: absolute;
    top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    background-color: white;
    border: 1px solid #CCC;
    padding: 5px;
    z-index: 12;
    width: 128px;
}

.menu-photo{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px !important;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.1);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
    border: 1px solid #CCC;
    padding: 2px 2px 0;
    height: 26px;
    display: inline-block;
    position: absolute;
    left: -15px;
    top: -7px;
    height: 26px !important;
}

.profile-photo-block{
    right: 10px;
    position: absolute;
    top: 30px;
    z-index: 12;
    width: 110px;
}

.profile-photo-block .button{
    margin-top: 10px;
    width: 110px;
}

.email-recipient{
    color: #985321;
}

.photo-link{
    display: block;
    float: left;
    margin-right: 7px;
    border-radius: 5px;
    overflow: hidden;
}

ul.nav-tabs {
    border-bottom: 1px solid #C37E4C;
}

ul.nav-tabs li {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    list-style-type: none;
    padding: 5px 10px;
    font-weight: 500;
    color: #00446A;
    margin-bottom: -1px;
}

ul.nav-tabs li a{
    font-size: 13px;
    text-transform: uppercase;
}

ul.nav-tabs li.active-tab {
    background: #F9F9F9;
    border-top: 1px solid #C37E4C;
    border-left: 1px solid #C37E4C;
    border-right: 1px solid #C37E4C;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #008FC5;
}

.active-tab .tab-title{
    color: #985321 !important;
    font-weight: bold;
}

.list-count{
    background-color: #C37E4C;
    font-size: 11px;
    padding: 2px 4px;
    border-radius: 3px;
    color: #FFF;
}

.no-padding{
    padding: 0 !important;
}

.thread {
    position: relative;
    padding: 10px 0 10px 10px;
}

.message {
    border: 1px solid white;
    margin-left: 65px;
    padding: 5px;
    min-height: 41px;
}

.section-photo{
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    border: 1px solid #D2D2D2;
    padding: 1px;
    float: left;
}

.poem-header{
    margin-bottom: 10px;
}

.poem-body{
    margin-left: 264px;
    text-align: justify;
    width: 337px;
    margin-top: 10px;
}

.section-row{
    padding: 5px 0;
}

.section-row ul{
    list-style: disc !important;
    padding: 0 0 0 40px !important;
}

.section-row li {
    display: list-item !important;
}

#logo img{
    margin-top: 5px;
    margin-left: 0px;
}

textarea {
    vertical-align: top; 
    transition: height 0.2s;
    -webkit-transition: height 0.2s; 
    -moz-transition: height 0.2s; 
}

#calendar_event_form_holder label{
    float: none !important;
    width: 336px !important;
}

.register-container{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.register-container-wrapper{
    min-height: 290px;
    margin-top: 20px;
    width: 722px;
}

.register-container label{
    float: none !important;
}

.register-container .sf_admin_form_field_country_id{
    display: none !important;
}

.section-block{
    margin: 10px 0px 20px;
}

.section-block img{
    float: right;
    margin-left: 10px;
}

.section-block h2{
    font-size: 14px;
}

#tp_admin_container{
    padding: 10px;
}

#tp_admin_content{
    width: 920px;    
}

#tp_admin_heading h3{
    color: #985321;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #985321;
    padding-bottom: 10px;
}

.recipient{
    width: 350px;
    position: relative;
    clear: both !important;
    height: 25px;
    border-bottom: 1px solid #C37E4C;
    padding-top: 5px;
    padding-bottom: 5px;
}

.participant-input{
    width: 50px;
    float: left;
    margin-top: 5px;
}

.content-block ol{
    list-style-type: decimal !important;
    padding-left: 2em;
}

ul.department-course, .section-block ul{
    list-style-type: disc !important;
    padding-left: 2em;
}

.department-course{
    position: relative;
    height: 30px;    
}

.department-course label{    
    position: absolute;
    left: 40px;
    top: 5px;
}

.checkbox input{       
    position: absolute;
    left: 11px;
    top: 9px;
}

.checkbox{       
    position: relative;
}

.input-elm{
    padding-top: 3px;
}

.public{
    padding-top: 105px;
}

.private{
    padding-top: 132px;
}

.top-actions{
    position: absolute;
    right: 0;
    top: -25px;
}